/* mixin margins */
$ten : 10px;
$fvt: 15px;

@mixin marginbody {
    margin-left: $ten;
    margin-right: $ten; 
}

@mixin margindiv {
    margin-left: $fvt;
    margin-right: $fvt; 
}

body {
    @include marginbody;
    }
    div {
    @include margindiv;
    }

